- breadcrumb :accounts
%table.table.table-condensed.datatable
  %thead
    %tr
      %th= t('student.first name')
      %th= t('student.last name')
      %th= t('student.payment_date')
      %th= t('student.balance')
  %tbody
    =render accounts 
